<!DOCTYPE html>
<html lang="en">
<head>
  {{>metadata}}
  <title>Welcome</title>
  {{>styles}}
</head>
<body>
  {{>header}}
  Yo, welcome to my webpage <span id="user-name-span">{{USER}}</span>
  {{>login}}
  {{>register}}
</body>
</html>