<!DOCTYPE html>
<html lang="en">
<head>
  {{>metadata}}
  <title>Welcome</title>
  {{>styles}}
</head>
<body>
  {{>header}}
  <br>
  <a href="/logoutSingle">Log out from this device ?</a>
  <br>
  <a href="/logoutAll">Log out from all devices ?</a>
</body>
</html>