<!DOCTYPE html>
<html lang="en">
<head>
  {{>metadata}}
  <title>Welcome Super Users</title>
  {{>styles}}
</head>
<body>
  {{>header}}
  Yo, welcome to my secret webpage <span id="user-name-span">{{USER}}</span>
</body>
</html>